<div *ngFor="let note of notes">
  <div *ngIf="note.editable; else noteSummary">
    <div [appQuill]="note.text"></div>
  </div>
  <ng-template #noteSummary>
    <div class="note-summary">
      <div>
        <span class="mr-1">{{note.entrustedUser.givenName}}</span>
        <span>{{note.entrustedUser.familyName}}</span>
      </div>
      <div>{{note.createdOn | date:'short'}}</div>
      <div>{{note.text}}</div>
      <button [appIcon]="editIcon" class="user-action">
      </button>
    </div>
  </ng-template>
</div>