<div *ngFor="let note of notes">
  <div class="note-header">
    <span>{{note.createdOn | date:'short'}}</span>
    <div class="note-attribution ml-3">
      <span class="mr-1">{{note.entrustedUser.givenName}}</span>
      <span>{{note.entrustedUser.familyName}}</span>
    </div>
    <button [appIcon]="editIcon" (click)="onEditClick(note)" class="user-action ml-3"></button>
  </div>
  <div *ngIf="note.editable; else noteImmutable">
    <div [appQuill]="note.text"></div>
  </div>
  <ng-template #noteImmutable>
    <div>{{note.text}}</div>
  </ng-template>
</div>