.note-header {
    display: flex;
    align-items: center;
    font-size: .8rem;
}

.note-attribution {
    display: inline-block;    
}

#section-header{
    display: flex;
}

#section-header label{
    margin:0;
}