/* You can add global styles to this file, and also import other style files */
.en-bg-primary {
  background-color: #8302c5f5;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.user-action-tray {
  display: inline-block;
}

.user-action {
  background: none;
  border: none;
}

.user-action:hover {
  cursor: pointer;
}

.user-action:focus {
  outline: none;
}

.app-form-section {
  box-shadow: 1px 1px 1px 1px lightslategrey;
  padding: 1rem;
}

.app-form-section label {
  font-weight: 400;
}

.app-form-section input,
.app-form-section select,
.app-form-section select option {
  color: #5b09dc;
}

.create-icon-wrapper {
  display: inline-flex;
  background-color: #26c281;
  border-radius: 24px;
}

.accept-icon {
  fill: #26c281;
}

.cancel-icon path {
  fill: #FF101F;
}

.create-icon path {
  fill: white;
}

.delete-icon path {
  fill: #FF101F;
}

.edit-icon path {
  fill: #5b09dc;
}

.create-label {
  color: #26c281;
  margin: 0 0 0 0.25rem;
  line-height: 1.1rem;
}

.create-label:hover {
  cursor: pointer;
}

.create-button {
  display: inline-flex;
  align-items: center;
}
