/* You can add global styles to this file, and also import other style files */
.en-bg-primary {
  background-color: #8302c5f5;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

.user-action {
  background: none;
  border: none;
  margin: 0 1rem;    
}

.user-action:hover {
  cursor: pointer;
}

.user-action:focus {
  outline: none;    
}