/* You can add global styles to this file, and also import other style files */
.en-bg-primary {
  background-color: #8302c5f5;
}

.app-font-color-attention{
  color: #735CDD;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

.user-action {
  background: none;
  border: none;
}

.user-action:hover {
  cursor: pointer;
}

.user-action:focus {
  outline: none;    
}

.app-form-section {
  box-shadow: 1px 1px 1px 1px lightslategrey;
  padding: 1rem;
}

.create-icon-wrapper {
  display: inline-flex;
  background-color: #26C281;
  border-radius: 24px;
}

.create-icon path {
  fill: white;
}
