.view-header{
    display: flex;
}

.people-header-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.customers-control-panel{
    width: 3rem;
    margin-top: -2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.customer-control-panel span {
    background-color: violet;
}

.create-icon path{
    fill: white;
}
