.view-header{
    display: flex;
}

.people-header-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#panel-rail{
    position: relative;
}

#customers-control-panel {
    align-items: center;
    display: inline-flex;
    position: absolute;
    top: -32px;
    right:0;
}

