.view-header{
    display: flex;
}

.people-header-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#panel-rail{
    position: relative;
}

#customers-control-panel {
    align-items: center;
    display: inline-flex;
    position: absolute;
    top: -32px;
    right:0;
}

#create-customer-label{
  color: #26C281;
  margin: 0 0 0 .25rem;
  height: 100%;
}

#create-customer-label:hover{
    cursor: pointer;
}

#create-customer-button{
    display: flex;
    align-items: center;
}
