<div class="card">
  <form #customerForm_{{index}}="ngForm">
    <div class="card-header">
      <a data-toggle="collapse" role="button" href="#collapse-{{index}}" aria-expanded="false">
        <h5 class="m-0">{{formCustomer.givenName}} {{formCustomer.familyName}}</h5>
      </a>
      <button [appIcon]="deleteIcon" class="user-action float-right">
      </button>
      <button [appIcon]="cancelIcon" class="user-action float-right">
      </button>
      <button [appIcon]="acceptIcon" class="user-action float-right">
      </button>
    </div>
    <div id="collapse-{{index}}" [ngClass]="{'show':expand}" class="collapse" aria-labelledby="headingOne"
      data-parent="#customer-accordion">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-4">
            <div class="app-form-section">
              <label>First Name</label>
              <input [(ngModel)]="formCustomer.givenName" placeholder="New" name="givenName" type="text" class="form-control" value="{{formCustomer.givenName}}" />
            </div>
          </div>
          <div class="col-4">
            <div class="app-form-section">
              <label>Last Name</label>
              <input [(ngModel)]="formCustomer.familyName" placeholder="Customer" name="familyName" type="text" class="form-control" value="{{formCustomer.familyName}}" />
            </div>
          </div>
          <div class="col-4">
            <div class="app-form-section">
              <label>Status</label>
              <select class="form-control" [(ngModel)]="formCustomer.status"
                name="customerStatus">
                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-6">
            <div class="app-form-section">
              <label for="address-one-{{i}}">Full Address</label>
              <input id="address-one-{{i}}" type="text" class="form-control"
                value="{{formCustomer.address}}" />
            </div>
          </div>
          <div class="col-6">
            <div class="app-form-section">
              <label for="phone-{{i}}">Phone</label>
              <input id="phone-{{i}}" name="phone" prefix="+1 " mask="(000) 000-0000" matinput type="tel"
                class="form-control" [(ngModel)]="formCustomer.phone" />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <app-customer-notes [customerKey]="formCustomer.key"></app-customer-notes>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>