<div class="card">
  <form #customerForm="ngForm">
    <div class="card-header">
      <a
        data-toggle="collapse"
        role="button"
        href="#collapse-{{ index }}"
        aria-expanded="false"
      >
        <h5 class="m-0">
          {{ customerFormModel.givenName }} {{ customerFormModel.familyName }}
        </h5>
      </a>
      <div class="user-action-tray float-right">
        <div
          *ngIf="
            givenName.dirty ||
              familyName.dirty ||
              status.dirty ||
              address.dirty ||
              phone.dirty;
            else deleteCustomerButton
          "
        >
          <button
            [appIcon]="acceptIcon"
            [iconWidth]="'20px'"
            class="user-action"
          ></button>
          <button
            [appIcon]="cancelIcon"
            [iconWidth]="'20px'"
            class="user-action"
            (click)="onCancelEditClick(customerForm)"
          ></button>
        </div>
        <ng-template #deleteCustomerButton>
          <button
            [appIcon]="deleteIcon"
            [iconWidth]="'20px'"
            class="user-action"
          ></button>
        </ng-template>
      </div>
    </div>
    <div
      id="collapse-{{ index }}"
      [ngClass]="{ show: expand }"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#customer-accordion"
    >
      <div class="card-body">
        <div class="form-group row">
          <div class="col-4">
            <div class="app-form-section">
              <label>First Name</label>
              <input
                #givenName="ngModel"
                [(ngModel)]="customerFormModel.givenName"
                placeholder="New"
                name="givenName"
                type="text"
                class="form-control"
                value="{{ customerFormModel.givenName }}"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="app-form-section">
              <label>Last Name</label>
              <input
                #familyName="ngModel"
                [(ngModel)]="customerFormModel.familyName"
                placeholder="Customer"
                name="familyName"
                type="text"
                class="form-control"
                value="{{ customerFormModel.familyName }}"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="app-form-section">
              <label>Status</label>
              <select
                class="form-control"
                #status="ngModel"
                [(ngModel)]="customerFormModel.status"
                name="status"
              >
                <option *ngFor="let status of statuses" [value]="status">{{
                  status
                }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-6">
            <div class="app-form-section">
              <label for="address-one-{{ i }}">Full Address</label>
              <input
                id="address-one-{{ i }}"
                type="text"
                class="form-control"
                value="{{ customerFormModel.address }}"
                [(ngModel)]="customerFormModel.address"
                #address="ngModel"
                name="address"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="app-form-section">
              <label for="phone-{{ i }}">Phone</label>
              <input
                id="phone-{{ i }}"
                name="phone"
                prefix="+1 "
                mask="(000) 000-0000"
                matinput
                type="tel"
                class="form-control"
                [(ngModel)]="customerFormModel.phone"
                #phone
              />
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="!customerFormModel.isNewCustomer">
          <div class="col-12">
            <app-customer-notes
              [customerKey]="customerFormModel.key"
            ></app-customer-notes>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
